/* Hide line numbers by default */
.customize-control-code-editor-line-numbers {
    display: none;
}

/* Hide line numbers by default */
.customize-control-code-editor-line-numbers {
    border: 1px solid rgb(221, 221, 221);
    border-right: none;
    border-left: none;
    -webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
    font-family: Consolas, Monaco, monospace;
    font-size: 12px;
    height: 550px;
    padding: 2px 2px 0;
    line-height: 1.4;
    text-align: right;
    box-sizing: border-box;
    display: none;
    background-color: #fff;
    pointer-events:none;
    overflow-x: hidden;
    resize: none;
}

/* Hide the blue highlights on textarea focus */
.customize-control-code_editor .customize-control-code-editor-textarea:focus {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: none;
    outline: none;
}

/* Prevent line breaks in the text */
.customize-control-content .customize-control-code-editor-textarea,
.customize-control-code-editor-line-numbers {
    white-space: nowrap;
}

/*
 * The below only applies to the WP Custom CSS section.
 */

/* Remove the padding on the Code Editor control
 * so that it can horizontally fill the entire pane.
 *
 * Since there is no way to determine the specific control
 * from its pane element (ul.customize-pane-child),
 * we must target the WP Custom CSS Setting ID (#sub-accordion).
 *
 * To make any Code Editor control full-width,
 * the pane that contains the control will
 * have to be targeted via CSS in this manner.
 */
#customize-theme-controls #sub-accordion-section-wp_custom_css {
    padding-left: 0;
    padding-right: 0;
}

#customize-theme-controls #sub-accordion-section-wp_custom_css .customize-control-title,
#customize-theme-controls #sub-accordion-section-wp_custom_css .notice {
    margin-left: 10%;
    margin-right: 10px;
}

#customize-theme-controls #sub-accordion-section-wp_custom_css .notice {
    margin-left: 10px;
}

#sub-accordion-section-wp_custom_css .customize-control-content {
    width: 100%;
}

/* Eliminate the space between inline-block elements
 *
 * The conatined elements are not floated because
 * there is a common browser bug where when
 * all content in a floated textarea is deleted,
 * the textarea itself disappears until the user
 * clicks on it again.
 */
#customize-theme-controls #sub-accordion-section-wp_custom_css .customize-control-content {
    font-size: 0;
}

/* Width of line numbers */
#sub-accordion-section-wp_custom_css .customize-control-code-editor-line-numbers {
    width: 10%;
    display: inline-block;
}

/* Display of textarea */
#sub-accordion-section-wp_custom_css .customize-control-code-editor-textarea {
    width: 90%;
    border-right: 0;
    display: inline-block;
}

/* Hide the scrollbar on the line numbers */
#sub-accordion-section-wp_custom_css .customize-control-code-editor-line-numbers::-webkit-scrollbar {
    display: none;
}

/* Adjust widths on smaller screens */
@media (max-width:850px), (max-height:472px) {
    #sub-accordion-section-wp_custom_css .customize-control-code-editor-line-numbers {
        width: 9%;
    }
    #sub-accordion-section-wp_custom_css .customize-control-code-editor-textarea {
        width: 91%;
    }
}
